html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  background-color: rgb(89, 141, 148);
  /* Use a system font, if none are available use an available sans-sarif font */
  margin: 0;
  color: #f3f3f3;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
  font-size: 18px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(89, 141, 148);
  padding: 20px;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

body > nav {
  grid-area: nav;
  background-color: rgb(49, 79, 83);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > a:first-child {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav > a:first-child:hover {
  color: #f3f3f3;
  background-color: rgb(49, 79, 83);
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #f3f3f3;
}

nav > a:visited {
  color: #f3f3f3;
}

nav > a:hover {
  color: white;
  background-color: rgb(70, 112, 118);
}

nav > a.active {
  color: white;
}

.fas::before {
  font-family: "Font Awesome 5 Free";
}